li{
	list-style: none;
}

.jumbotron{
	margin-bottom:0;
	min-height: 48rem;
	font-weight: bold;
	font-family: 'Baloo-Bhaina', 'Roboto';
}

.navbar{
	margin: 0;
	border: 0px;
	opacity: .85;
}

.nav.navbar-nav.navbar-right li a:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav.navbar-nav.navbar-right li a{
	opacity: 1;
	font-weight: bold;
}

#contact{
	cursor: pointer;
}

.jumbotron h1{
	position: relative;
	top: 8rem;
	font-size: 8rem;
}
.jumbotron h2{
	position: relative;
	top: 20rem;
}

.jumbotron p{
	position: relative;
	top: 20rem;
}
.row.first, .row.second{
	height: 40rem;
}

.row.first>.col-md-4, .row.second>.col-md-4, .row.first>.col-md-8, .row.second>.col-md-8 {
		height: 100%;
		display: flex;
}

.col-md-4>img{
	display: block;
	margin: auto auto;
}

table{
	max-width: 70%;
	margin: auto auto;
}

.row.first{
	padding-right: 5rem;
	background-color: #f3f3f3;
}

.row.second{
	text-align: right;
	padding-left: 5rem;
}

.footer{
	border-top: 1px solid #dbdbdb;
	background-color: #f3f3f3;
	height: 35rem;
	margin-bottom: 0;
	padding: 6rem 3rem;
	text-align: center;
}

.footer ul{
	list-style-type:none;
	padding-left: 0;
	padding-top: 3rem;
}

.footer li{
	color: #999;
	font-weight: 600;
	margin: 2px;
}

.social{
	padding: 2rem;
}

.footer img{
	height: 7rem;
	width: 7rem;
}
.footer img:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



