<div class = "row first"  id="education">
	<div class="col-md-4">
		<img src="img/ece.png" class="img-responsive" style="width:75%"/>
	</div> 
	<div class="col-md-8">
		<div class="page-header">
			<h3>
				University of California, San Diego
				<small>B.S. Computer Engineering</small>
			</h3>
		</div>
		<p>Expected Graduation: March 2017</p>
		<p>Current Major/Overall GPA: 3.3</p>
		<!--
		<a href="#/experience"><button class="next" onclick="update()">Next</button></a>
		<script>
			function update(ex){
				$(".nav").find(".active").removeClass("active");
				$(".nav").find("#experience").addClass("active");
			}
		</script>-->
	</div>
</div>
<div class = "row second">
	<div class="col-md-3">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Software</small>
			</h2>
		</div>
		<div class="education" style="text-align: left">
			<ul>
				<li>Java</li>
				<li>C/C++</li>
				<li>Python</li>
				<li>Javascript</li>
				<li>HTML/CSS</li>
				<li>Git/Mecurial</li>
			</ul>
		</div>		
	</div>
	<div class="col-md-3">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Hardware</small>
			</h2>
		</div>
		<div class="education" style="text-align: left">
			<ul>
				<li>Verilog/FPGA via Xilinx and Quartus Prime</li>
				<li>Assembly (MIPS/SPARC)</li>
				<li>Microcontroller (Arduino)</li>
			</ul>
		</div>			
	</div>
	<div class="col-md-3">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Electrical Circuits</small>
			</h2>
		</div>
		<div class="education" style="text-align: left">
			<ul>
				<li>PSPICE/EagleCAD</li>
				<li>Thevenin/Norton analysis</li>
				<li>Convolution</li>
				<li>Fourier/Laplace transforms</li>
				<li>Feedback Analysis</li>
				<li>Sampling</li>
				<li>Nyquist/Bode plots</li>
			</ul>
		</div>
	</div>	
	<div class="col-md-3">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Classes</small>
			</h2>
		</div>
		<div class="education" style="text-align: left">
			<ul>
				<li>Advanced Algorithms</li>
				<li>Advanced Data Structures</li>
				<li>Software Engineering</li>
				<li>Advanced Digital Design</li>
				<li>Computer Architecture & Organization</li>
				<li>Networking</li>
				<li>Operating Systems</li>
				<li>Analog Design</li>
				<li>Linear Electronic System & Fundamentals</li>
			</ul>
		</div>
	</div>
</div>