<div class = "row first"  id="education">
	<div class="col-md-4">
		<img src="img/ece.png" class="img-responsive" style="height:12rem;width=18rem"/>
	</div> 
	<div class="col-md-8">
		<div class="page-header">
			<h3>
				University of California, San Diego
				<small>B.S. Computer Engineering</small>
			</h3>
		</div>
		<p>Expected Graduation: March 2017</p>
		<p>Current Major/Overall GPA: 3.3</p>
		<a href="#/experience"><button class="next" onclick="update()">Next</button></a>
		<script>
			function update(ex){
				$(".nav").find(".active").removeClass("active");
				$(".nav").find("#experience").addClass("active");
			}
		</script>
	</div>
</div>
<div class = "row">
	<div class="col-md-4">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Software</small>
			</h2>
		</div>
		<div class="education" style="display:inline-block">
			<h5>Programming</h5>
			<ul>
				<li>Java</li>
				<li>C/C++</li>
			</ul>
		</div>
		<div class="education" style="display:inline-block">
			<h5>Version Control</h5>
			<ul>
				<li>Git</li>
				<li>Mercurial</li>
			</ul>
		</div>	
		<div class="education" style="display:inline-block">
			<h5>Version Control</h5>
			<ul>
				<li>Git</li>
				<li>Mercurial</li>
			</ul>
		</div>			
	</div>
	<div class="col-md-4">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Hardware</small>
			</h2>
		</div>
		<p> Welcome! Thank you for stumbling upon my website  </p>
	</div>
	<div class="col-md-4">
		<div class="page-header" style="text-align: left">
			<h2>
				<small>Circuits</small>
			</h2>
		</div>
		<p> Welcome! Thank you for stumbling upon my website  </p>
	</div>	
</div>
<script src="scripts.js"></script>