<div class = "row first" id="experience">
	<div class="col-md-4">
			<img src="img/lockheed.png" class="img-responsive"/>
			<!--<a href="#/education"><button class="back" onclick="update()">Back</button></a>-->
	</div> 
	<div class="col-md-8">
		<div class="page-header">
			<h3>
				Lockheed Martin <small>Software and Systems Engineering Intern</small>
			</h3>
		</div>
		<ul>
			<li>Wrote, refactored, and tested Lockheed Martin's command and control software in Java, JMockit, and Mercurial</li>
			<li>Used ReST/DDS middleware clients to bridge server-side information and display it to a 3-D geospatial client-side interface</li>
			<li>Assisted in modeling holistic defense systems in DoDAF perspectives to map customer requirements to systems</li>
		</ul>
		<!--
		<script>
			function update(){
				$(".nav").find(".active").removeClass("active");
				$(".nav").find("#education").addClass("active");
			}
		</script>-->		
		
	</div>
</div>
<div class = "row second">
	<div class="col-md-8">
		<div class="page-header" style="text-align: right">
			<h3>
				UCSD Facilities Management <small>Project Management Intern</small>
			</h3>
		</div>
		<ul>
			<li>Worked directly with Project Managers in management process: customer interaction, scheduling, metrics, presentations</li>
			<li>Revised architectural plans/as-builts using AutoCAD software and on-site measurements</li>
			<li>Performed statistical analysis and collected department metrics using Excel, Oracle, Maximo, & Gantt Charts</li>
			<li>Hired and trained new interns</li>
		</ul>
	</div>
	<div class="col-md-4">
		<img src="img/ucsdwork.png" class="img-responsive"/>
	</div> 
</div>
