<div class = "row first" id="experience">
	<div class="col-md-4">
			<img src="img/lockheed.png" class="img-responsive"/>
			<a href="#/education"><button class="back" onclick="update()">Back</button></a>
	</div> 
	<div class="col-md-8">
		<div class="page-header">
			<h3>
				Lockheed Martin <small>Software and Systems Engineering Intern</small>
			</h3>
		</div>
		<p> Hi, my name is James Oh</p>
		<script>
			function update(){
				$(".nav").find(".active").removeClass("active");
				$(".nav").find("#education").addClass("active");
			}
		</script>		
		
	</div>
</div>
<div class = "row second">
	<div class="col-md-8">
		<div class="page-header" style="text-align: right">
			<h3>
				UCSD Facilities Management <small>Project Management Intern</small>
			</h3>
		</div>
		<p> Welcome! Thank you for stumbling upon my website  </p>
	</div>
	<div class="col-md-4">
		<img src="img/ucsdwork.png" class="img-responsive" style="height:27rem; width: 27rem"/>
	</div> 
</div>
<script src="scripts.js"></script>