<div class = "row first"  id="intro">
	<div class="col-md-4">
		<img src="img/profile.png"
			 onmouseover="this.src='img/profile2.png';"
			 onmouseout="this.src='img/profile.png';"
			 id="profile"/>
	</div> 
	<div class="col-md-8">
		<div class="page-header">
			<h3>
				Introduction
			</h3>
		</div>
		<p> Welcome! This website was motivated by my desire to learn fundamentals of web development</p>
		<p> Testing and development was done through NodeJS, making Google Chrome the optimal browser to view this website</p>
		<!--
		<a href="#/about"><button class="next" onclick="update()">Next</button></a>
		<script>
			function update(ex){
				$(".nav").find(".active").removeClass("active");
				$(".nav").find("#about").addClass("active");
			}
		</script>
		<script src="js/scripts.js"></script>-->
	</div>
</div>
<div class = "row second">
	<div class="col-md-8">
		<div class="page-header" style="text-align: right">
			<h3>
				Web Components
			</h3>
		</div>
		<p> This single page web application is powered by AngularJS and deployed through GitHub pages</p>
		<p> I've made use of HTML5, CSS3, Bootstrap and jQuery to allow for smooth user experience</p>
		<p> Currently, I am aiming to teach myself more Javascript tools and libraries to enhance this website</p>
	</div>
	<div class="col-md-4">
		<table>
			<tr>
				<td><img src="img/AngularJS.png" class="img-responsive"/></td>
				<td><img src="img/nodejs.png" class="img-responsive" style="padding-left:5px"/></td> 
			</tr>
			<tr>
				<td><img src="img/html5.png" class="img-responsive"/></td>
				<td><img src="img/github.png" class="img-responsive"/></td> 
			</tr>
		</table>
	</div> 
</div>
<script src="../js/scripts.js"></script>
