.jumbotron{
	background: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-0/q82/s480x480/13406831_10153723938657106_661154895208043114_n.jpg?oh=59d430af095d3a1b5eef3f0c67d7de02&oe=587FD8B7);
	background-size: cover;
	color: #ffffff;
	height: 10rem;
	width: 100%;
}